@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.SeedTray.SeedTrayListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<vc:seed-tray-grid model="@Model"></vc:seed-tray-grid>