@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.SeedTray.SeedTrayListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<partial name="SeedTrayListTable" for="@Model" />
@Html.PagingLinksFor(m => Model)