@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.SeedTray.SeedTrayListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a asp-action="New">Add New Item</a>
<partial name="SeedTrayListTable" for="@Model" />
@Html.PagingLinksFor(m => Model)