@model PlantDataMVC.Web.Models.ViewModels.SeedTray.SeedTrayShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Seed Tray</legend>

    @Html.DisplayForModel()
</fieldset>

<p>
    <a asp-controller="SeedTray" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="SeedTray" asp-action="Index">Back to Index</a>
</p>

