@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.Label.PlantLabelListViewModel>
@{
    ViewBag.Title = "Plant Labels";
}
<h2>Plant Labels</h2>
<div class="container-lg">
    <form asp-controller=@PlantDataMvcAppControllers.Label asp-action="PlantLabelSave">

        @await Component.InvokeAsync("PlantLabelGrid", new { model = Model, gridOptions = Model.GridOptions })
        <p>
            <input type="submit" value="Save" />
        </p>
    </form>
</div>