@model ListViewModelStatic<PlantDataMVC.UICore.Models.ViewModels.Plant.PlantListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>My Plant List</h2>
<p>This is a list of all plant descriptions</p>

@*
// TODO: Convert views to TagHelpers/use built-in taghelpers
*@
@Html.Partial("PlantListTable", Model)
@Html.PagingLinksFor(m => Model)