@model ListViewModel<PlantStockEntryListViewModel>

@using Framework.Web.Mvc.Paging
@using PlantDataMVC.UI.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("PlantStockListTable", Model)
@Html.PagingLinksFor(m => Model)