@model ListViewModelStatic<PlantDataMVC.UI.Models.ViewModels.PlantStock.PlantStockListViewModel>

@using Framework.Web.Mvc.Paging
@using PlantDataMVC.UI.Models.ViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("PlantStockListTable", Model)
@Html.PagingLinksFor(m => Model)