@model PlantDataMVC.Web.Models.ViewModels.Genus.GenusEditViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<div class="container-lg">
    <form asp-controller=@PlantDataMvcAppControllers.Genus asp-action="Update">
        <div asp-validation-summary="ModelOnly"></div>
        <fieldset>
            <legend>Genus</legend>

            <input asp-for="Id" type="hidden" />

            <div class="row mb-3">
                <label asp-for="LatinName" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="LatinName" class="form-control" />
                    <span asp-validation-for="LatinName"></span>
                </div>
            </div>

            <p>
                <input type="submit" value="Update" />
            </p>
        </fieldset>
    </form>
    <div>
        <a asp-controller=@PlantDataMvcAppControllers.Genus asp-action="Index">Back to Index</a>
    </div>
</div>