@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.Genus.GenusListViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Genus List</h2>
<p>This is a list of all genuses recorded</p>

@await Component.InvokeAsync("GenusGrid", new { model = Model, gridOptions = Model.GridOptions })
