@using PlantDataMVC.Web.Constants

@model PlantDataMVC.Web.Models.ViewModels.PriceListType.PriceListTypeDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<form asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Destroy">
    <fieldset>
        <legend>Price List</legend>
        @*Add hidden, as display for model doesn't show hidden input needed for submit*@
        <input asp-for="Id" type="hidden"/>
        @Html.DisplayForModel()
    </fieldset>
    <p>
        <input type="submit" value="Delete" /> |
        <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Index">Back to Index</a>
    </p>
</form>