@using PlantDataMVC.Web.Constants;
@model PlantDataMVC.Web.Models.ViewModels.PriceListType.PriceListTypeDetailsViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Price List with Prices</legend>

    @Html.DisplayForModel()

    <div class="display-label">
        <label asp-for="ProductPrices"></label>
    </div>
    <div class="button">
        <a asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="New" asp-route-plantStockId="@Model.Id">New</a>
    </div>
    <div class="child-table">
        @await Component.InvokeAsync("ProductPriceGrid", new { priceListTypeId = Model.Id, productPrices = Model.ProductPrices })
    </div>
</fieldset>

<p>
    <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Index">Back to Index</a>
</p>

