
@model PlantDataMVC.Web.Models.ViewModels.PriceListType.PriceListTypeDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Price List with Prices</legend>

    @Html.DisplayForModel()

    <div class="display-label">
        <label asp-for="ProductPrices"></label>
    </div>
    <div class="child-table">
        @await Component.InvokeAsync("ProductPriceGrid", new { productPrices = Model.ProductPrices, priceListTypeId = Model.Id })
    </div>
</fieldset>

<p>
    <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Index">Back to Index</a>
</p>

