@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.PriceListType.PriceListTypeListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Price Lists</h2>
<p>This is a list of all Price Lists</p>

@await Component.InvokeAsync("PriceListTypeGrid", new { model = Model, gridOptions = Model.GridOptions })
