@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.PriceListType.PriceListTypeListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Price Lists</h2>
<p>This is a list of all Price Lists</p>

<vc:price-list-type-grid model="@Model"></vc:price-list-type-grid>