@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.PriceListType.PriceListTypeListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Price Lists</h2>
<p>This is a list of all Price Lists</p>

@if (PlantDataMvcConstants.UseBasicMvcViews)
{
    <a asp-action="New">Add New Item</a>
}

@await Component.InvokeAsync("PriceListTypeGrid", new { model = Model })

@if (PlantDataMvcConstants.UseBasicMvcViews)
{
    @Html.PagingLinksFor(m => Model)
}
