<connectionStrings>
  <!-- for (old) user login stuff -->
  <add name="ApplicationServices"
       connectionString="data source=(LocalDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf"
       providerName="System.Data.SqlClient" />
  <!-- Primary DB connection string for this app. This is the locally deployed Db from DB project -->
  <add name="PlantDataDbContext"
       connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=PlantDataDB;Integrated Security=True"
       providerName="System.Data.SqlClient" />
  <!-- Azure deployed version -->
  <!--<add name="PlantDataDbContext" connectionString="Server=tcp:plantdata.database.windows.net,1433;Initial Catalog=plantdatadb;Persist Security Info=False;User ID=plantdataadmin;Password=sa@plantdata01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"  providerName="System.Data.SqlClient" />-->
</connectionStrings>