<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <!-- use full versions of css & scripts when in dev env -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/sinorcaish-screen.css" />
        <link rel="stylesheet" href="~/css/CustomStyles.css" />
        <link rel="stylesheet" href="~/css/Site.css" />
    </environment>
    <!-- use bundled versions when in other envs -->
    <environment exclude="Development">
    </environment>

@*    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
*@
    <!-- TEST: Use CDN versions for external css as well -->
    <!-- jquery UI (base theme) -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <!--bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
    <!--open layers mapping-->
    <link href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/css/ol.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
        <div class="left">
            <div id="title">
                MVC Plant Data Application
            </div>
        </div>
        <div class="right">
            <div id="logindisplay">
                @if (User.Identity.IsAuthenticated)
                {
                    var givenname = User.Claims.FirstOrDefault(c => c.Type == "given_name").Value;
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-controller="Header" asp-action="Logout">Welcome @givenname (Logout)</a></li>
                    </ul>
                }
            </div>
        </div>
        <div class="subheader">
            <em>Displaying plant info for today's world... :)</em>
        </div>


        <div id="sidebar">
            <div>
                <ul id="menu" class="mymenu">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Genus" asp-action="Index">Genera</a>
                        <ul class="mysub-menu">
                            <li>
                                <a asp-controller="Genus" asp-action="New">New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Plant" asp-action="Index">Plants</a>
                        <ul class="mysub-menu">
                            <li>
                                <a asp-controller="Plant" asp-action="New">New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="SeedBatch" asp-action="Index">Plant Seeds</a>
                        <ul class="mysub-menu">
                            <li>
                                <a asp-controller="SeedBatch" asp-action="New">New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Site" asp-action="Index">Sites</a>
                        <ul class="mysub-menu">
                            <li>
                                <a asp-controller="Site" asp-action="New">New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="PlantStock" asp-action="Index">Plant Stock</a>
                        <ul class="mysub-menu">
                            <li>
                                <a asp-controller="PlantStock" asp-action="New">New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="SeedTray" asp-action="Index">Seed Trays</a>
                        <ul class="mysub-menu">
                            <li>
                                <a asp-controller="SeedTray" asp-action="New">New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <hr />
            </div>
        </div>
    </div>

    <div id="main">
        @RenderBody()
    </div>

    <div id="footer">
        A web page by Tim McMaster.
    </div>

    @*<!-- TEST: Use CDN versions to check that JS is working -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/build/ol.js"></script>*@

    <script type="text/javascript" src="~/Scripts/dist/app.bundle.js"></script>

    @RenderSection("scripts", false)

</body>
</html>
