<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- Primary DB connection string for this app. This is the deployed Db from DB project -->
    <add name="PlantDataDbContext" connectionString="Data Source=(LocalDB)\ProjectsV13;Initial Catalog=PlantDataDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <common>
    <logging>
      <!-- NLog factory adapter that uses NLog config from NLog.config file -->
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog4412">
        <!-- Use the following if nlog configuration is in web.config -->
        <!-- <arg key="configType" value="INLINE" /> -->
        <!-- Use the following if nlog configuration is in it's own file -->
        <arg key="configType" value="FILE" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(LocalDB)\MSSQLLocalDB; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <interceptors>
      <interceptor type="Framework.DAL.EF.EFLoggingInterceptor, Framework.DAL.EF" />
    </interceptors>
  </entityFramework>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="baseServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="basicHttpConfig" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpConfig" />
      </webHttpBinding>
    </bindings>-->
    <services>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantProductTypeDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantProductTypeDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantProductTypeDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantProductTypeDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantSeedDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantSeedSiteDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedSiteDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedSiteDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedSiteDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantSeedTrayDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedTrayDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedTrayDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedTrayDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantStockEntryDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockEntryDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockEntryDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockEntryDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantStockTransactionDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="PlantDataMVC.Service.SimpleServiceLayer.PlantStockTransactionTypeDataService"  behaviorConfiguration="baseServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionTypeDataService"/>
        <endpoint address="" binding="basicHttpsBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionTypeDataService"/>
        <endpoint address="api" binding="webHttpBinding" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionTypeDataService" behaviorConfiguration="jsonBehavior"/>
      </service>
    </services>
      
    <protocolMapping>
      <add scheme="https" binding="basicHttpsBinding" /> <!-- this is needed for default provision of https endpoints -->
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>