<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=(LocalDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient" />
    <!--add name="PlantDataDbContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|PlantDataDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(LocalDB)\MSSQLLocalDB; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- WCF endpoint configurations -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="basicHttps" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57889/PlantDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantDataService" name="BasicHttpBinding_IPlantDataService" />
      <endpoint address="https://localhost:44343/PlantDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantDataService" name="BasicHttpsBinding_IPlantDataService" />
      
      <endpoint address="http://localhost:57889/PlantProductTypeDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantProductTypeDataService" name="BasicHttpBinding_IPlantProductTypeDataService" />
      <endpoint address="https://localhost:44343/PlantProductTypeDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantProductTypeDataService" name="BasicHttpsBinding_IPlantProductTypeDataService" />
      
      <endpoint address="http://localhost:57889/PlantSeedDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedDataService" name="BasicHttpBinding_IPlantSeedDataService" />
      <endpoint address="https://localhost:44343/PlantSeedDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedDataService" name="BasicHttpsBinding_IPlantSeedDataService" />
      
      <endpoint address="http://localhost:57889/PlantSeedSiteDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedSiteDataService" name="BasicHttpBinding_IPlantSeedSiteDataService" />
      <endpoint address="https://localhost:44343/PlantSeedSiteDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedSiteDataService" name="BasicHttpsBinding_IPlantSeedSiteDataService" />
      
      <endpoint address="http://localhost:57889/PlantSeedTrayDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedTrayDataService" name="BasicHttpBinding_IPlantSeedTrayDataService" />
      <endpoint address="https://localhost:44343/PlantSeedTrayDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantSeedTrayDataService" name="BasicHttpsBinding_IPlantSeedTrayDataService" />
      
      <endpoint address="http://localhost:57889/PlantStockEntryDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockEntryDataService" name="BasicHttpBinding_IPlantStockEntryDataService" />
      <endpoint address="https://localhost:44343/PlantStockEntryDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockEntryDataService" name="BasicHttpsBinding_IPlantStockEntryDataService" />
      
      <endpoint address="http://localhost:57889/PlantStockTransactionDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionDataService" name="BasicHttpBinding_IPlantStockTransactionDataService" />
      <endpoint address="https://localhost:44343/PlantStockTransactionDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionDataService" name="BasicHttpsBinding_IPlantStockTransactionDataService" />
      
      <endpoint address="http://localhost:57889/PlantStockTransactionTypeDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionTypeDataService" name="BasicHttpBinding_IPlantStockTransactionTypeDataService" />
      <endpoint address="https://localhost:44343/PlantStockTransactionTypeDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.Service.ServiceContracts.IPlantStockTransactionTypeDataService" name="BasicHttpsBinding_IPlantStockTransactionTypeDataService" />
    </client>
  </system.serviceModel>
</configuration>