<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=(LocalDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(LocalDB)\MSSQLLocalDB; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="RouteDebugger:Enabled" value="false" /></appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- WCF endpoint configurations -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
        <binding name="basicHttps" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttp" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57889/GenusWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IGenusWcfService" name="BasicHttpBinding_IGenusWcfService" />
      <endpoint address="http://localhost:57889/GenusWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IGenusWcfService" name="WebHttpBinding_IGenusWcfService" />
      <endpoint address="https://localhost:44343/GenusWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.IGenusWcfService" name="BasicHttpsBinding_IGenusWcfService" />

      <endpoint address="http://localhost:57889/SpeciesWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISpeciesWcfService" name="BasicHttpBinding_ISpeciesWcfService" />
      <endpoint address="http://localhost:57889/SpeciesWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISpeciesWcfService" name="WebHttpBinding_ISpeciesWcfService" />
      <endpoint address="https://localhost:44343/SpeciesWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.ISpeciesWcfService" name="BasicHttpsBinding_ISpeciesWcfService" />

      <endpoint address="http://localhost:57889/ProductTypeWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IProductTypeWcfService" name="BasicHttpBinding_IProductTypeWcfService" />
      <endpoint address="http://localhost:57889/ProductTypeWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IProductTypeWcfService" name="WebHttpBinding_IProductTypeWcfService" />
      <endpoint address="https://localhost:44343/ProductTypeWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.IProductTypeWcfService" name="BasicHttpsBinding_IProductTypeWcfService" />

      <endpoint address="http://localhost:57889/SeedBatchWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISeedBatchWcfService" name="BasicHttpBinding_ISeedBatchWcfService" />
      <endpoint address="http://localhost:57889/SeedBatchWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISeedBatchWcfService" name="WebHttpBinding_ISeedBatchWcfService" />
      <endpoint address="https://localhost:44343/SeedBatchWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.ISeedBatchWcfService" name="BasicHttpsBinding_ISeedBatchWcfService" />

      <endpoint address="http://localhost:57889/SiteWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISiteWcfService" name="BasicHttpBinding_ISiteWcfService" />
      <endpoint address="http://localhost:57889/SiteWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISiteWcfService" name="WebHttpBinding_ISiteWcfService" />
      <endpoint address="https://localhost:44343/SiteWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.ISiteWcfService" name="BasicHttpsBinding_ISiteWcfService" />

      <endpoint address="http://localhost:57889/SeedTrayWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISeedTrayWcfService" name="BasicHttpBinding_ISeedTrayWcfService" />
      <endpoint address="http://localhost:57889/SeedTrayWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.ISeedTrayWcfService" name="WebHttpBinding_ISeedTrayWcfService" />
      <endpoint address="https://localhost:44343/SeedTrayWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.ISeedTrayWcfService" name="BasicHttpsBinding_ISeedTrayWcfService" />

      <endpoint address="http://localhost:57889/PlantStockWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IPlantStockWcfService" name="BasicHttpBinding_IPlantStockWcfService" />
      <endpoint address="http://localhost:57889/PlantStockWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IPlantStockWcfService" name="WebHttpBinding_IPlantStockWcfService" />
      <endpoint address="https://localhost:44343/PlantStockWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.IPlantStockWcfService" name="BasicHttpsBinding_IPlantStockWcfService" />

      <endpoint address="http://localhost:57889/JournalEntryWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IJournalEntryWcfService" name="BasicHttpBinding_IJournalEntryWcfService" />
      <endpoint address="http://localhost:57889/JournalEntryWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IJournalEntryWcfService" name="WebHttpBinding_IJournalEntryWcfService" />
      <endpoint address="https://localhost:44343/JournalEntryWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.IJournalEntryWcfService" name="BasicHttpsBinding_IJournalEntryWcfService" />

      <endpoint address="http://localhost:57889/JournalEntryTypeWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IJournalEntryTypeWcfService" name="BasicHttpBinding_IJournalEntryTypeWcfService" />
      <endpoint address="http://localhost:57889/JournalEntryTypeWcfService.svc/api" binding="webHttpBinding" bindingConfiguration="webHttp" contract="PlantDataMVC.WCFService.ServiceContracts.IJournalEntryTypeWcfService" name="WebHttpBinding_IJournalEntryTypeWcfService" />
      <endpoint address="https://localhost:44343/JournalEntryTypeWcfService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttps" contract="PlantDataMVC.WCFService.ServiceContracts.IJournalEntryTypeWcfService" name="BasicHttpsBinding_IJournalEntryTypeWcfService" />
    </client>
  </system.serviceModel>
</configuration>
