@model PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form asp-action="Update" asp-controller="PlantStock">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Plant Stock</legend>

        <input asp-for="Id" type="hidden" />

        <input asp-for="SpeciesId" type="hidden" />

        <div class="editor-label">
            <label asp-for="SpeciesBinomial"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SpeciesBinomial)
        </div>

        <div class="editor-label">
            <label asp-for="ProductTypeId"></label>
        </div>
        <div class="editor-field">
            @Html.QueryDropDownFor(
                () => nameof(Model.ProductTypeId),
                model => model.ProductTypeId,
                new ListQuery<ProductTypeDataModel>(),
                p => p.Id,
                p => p.Name)
            <span asp-validation-for="ProductTypeId"></span>
        </div>

        <div class="editor-label">
            <label asp-for="QuantityInStock"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuantityInStock)
            <span asp-validation-for="QuantityInStock"></span>
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller="PlantStock" asp-action="Index">Back to Index</a>
</div>
