@model PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockEditViewModel
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<div class="container-lg">
    <form asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Update">
        <div asp-validation-summary="ModelOnly"></div>
        <fieldset>
            <legend>Plant Stock</legend>

            <input asp-for="Id" type="hidden" />

            <input asp-for="SpeciesId" type="hidden" />

            <div class="row mb-3">
                <label asp-for="SpeciesBinomial" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <p class="col-form-label">@Html.DisplayFor(model => model.SpeciesBinomial)</p>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="ProductTypeId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    @Html.QueryDropDownFor(
                    () => nameof(Model.ProductTypeId),
                    model => model.ProductTypeId,
                    new ListQuery<ProductTypeDataModel>(),
                    p => p.Id,
                    p => p.Name,
                    new { @class="form-select" })
                    <span asp-validation-for="ProductTypeId"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="QuantityInStock" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="QuantityInStock" class="form-control" />
                    <span asp-validation-for="QuantityInStock"></span>
                </div>
            </div>

            <p>
                <input type="submit" value="Update" />
            </p>
        </fieldset>
    </form>
    <div>
        <a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Index">Back to Index</a>
    </div>
</div>