@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockListViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

@await Component.InvokeAsync("PlantStockGrid", new { model = Model, gridOptions = Model.GridOptions })
