@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.ShowAddItem)
{
    <a asp-action="New">Add New Item</a>
}

@await Component.InvokeAsync("PlantStockGrid", new { model = Model })

@if (Model.ShowPagingLinks)
{
    @Html.PagingLinksFor(m => Model)
}
