@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<vc:plant-stock-grid model="@Model"></vc:plant-stock-grid>