@model PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Plant Stock</legend>

        @*@Html.HiddenFor(model => model.SpeciesId)*@


        <div class="row mb-3">
            <label asp-for="SpeciesId"></label>
            <div class="col-sm-10">
                @Html.QueryDropDownFor(
                () => nameof(Model.SpeciesId),
                model => model.SpeciesId,
                new ListQuery<SpeciesDataModel>(),
                p => p.Id,
                p => SpeciesFunctions.GetBinomial(p.GenusName, p.SpecificName),
                new { @class="form-select" })
                <span asp-validation-for="SpeciesId"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="ProductTypeId" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                @Html.QueryDropDownFor(
                () => nameof(Model.ProductTypeId),
                model => model.ProductTypeId,
                new ListQuery<ProductTypeDataModel>(),
                p => p.Id,
                p => p.Name,
                new { @class="form-select" })
                <span asp-validation-for="ProductTypeId"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="QuantityInStock" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="QuantityInStock" class="form-control" />
                <span asp-validation-for="QuantityInStock"></span>
            </div>
        </div>


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Index">Back to Index</a>
</div>
