
@model PlantDataMVC.Web.Models.ViewModels.PlantStock.PlantStockShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Plant Stock</legend>

    @Html.DisplayForModel()

    @*<div class="display-label">@Html.LabelFor(model => model.Transactions)</div>*@
    @*<div class="child-table">@Html.Partial("TransactionListTable", Model.Transactions)</div>*@
    @*<div class="button"><a asp-controller=@PlantDataMvcAppControllers.Transaction asp-action="New" asp-route-id=@Model.Id>New</a></div>*@
</fieldset>
<p>
    <a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller=@PlantDataMvcAppControllers.PlantStock asp-action="Index">Back to Index</a>
</p>

