@model ListViewModel<SiteListViewModel>

@using Framework.Web.Mvc.Paging
@using PlantDataMVC.UI.Models.ViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("SiteListTable", Model)
@Html.PagingLinksFor(m => Model)