@model ListViewModel<SiteListViewModel>

@using PlantDataMVC.UI.Helpers
@using PlantDataMVC.UI.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("SiteListTable", Model)
@Html.PagingLinksFor(m => Model)