@model ListViewModelStatic<PlantStockTransactionListViewModel>

@using Framework.Web.Mvc.Paging
@using PlantDataMVC.UI.Models.ViewModels

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("PlantStockTransactionListTable", Model)
@Html.PagingLinksFor(m => Model)