@model PlantDataMVC.UI.Models.PlantStockTransactionShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Transaction</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to Index", "Index")
</p>

