@model ListViewModelStatic<PlantDataMVC.UICore.Models.ViewModels.Genus.GenusListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Genus List</h2>
<p>This is a list of all genuses recorded</p>


@*
// TODO: Convert views to TagHelpers/use built-in taghelpers
*@
<partial name="GenusListTable" for="@Model" />
@Html.PagingLinksFor(m => Model)