@model PlantDataMVC.UICore.Models.ViewModels.Site.SiteNewViewModel

@{
    ViewBag.Title = "New";
}

<h2>New</h2>

<form asp-action="Create" asp-controller="Site">
    <div asp-validation-summary="ModelOnly"></div>
    <fieldset>
        <legend>Site</legend>

        @Html.EditorForModel()

        <p>
            <input type="submit" value="Create"/>
        </p>
    </fieldset>
</form>

<div>
    <a asp-controller="Site" asp-action="Index">Back to Index</a>
</div>

