USE [PlantData]
GO
/****** Object:  UserDefinedFunction [dbo].[GetSeedTrayIdFromSeedBatchIdDatePlanted]    Script Date: 07/24/2014 20:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Tim McMaster
-- Create date: 19/02/2011
-- Description:	
-- =============================================
CREATE FUNCTION [dbo].[GetSeedTrayIdFromSeedBatchIdDatePlanted] 
(
	-- Add the parameters for the function here
	@seedBatchId INT,
	@datePlanted DATE
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Result INT = -1;

	-- Add the T-SQL statements to compute the return value here
	SELECT @Result = Id 
	FROM dbo.SeedTray
	WHERE dbo.SeedTray.SeedBatchId = @seedBatchId
	AND dbo.SeedTray.DatePlanted = @datePlanted;

	-- Return the result of the function
	RETURN @Result

END
GO
