@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.ProductPrice.ProductPriceListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Product Prices</h2>
<p>This is a list of all Product Prices</p>

@await Component.InvokeAsync("ProductPriceGrid", new { model = Model, gridOptions = Model.GridOptions })
