
@model PlantDataMVC.Web.Models.ViewModels.ProductPrice.ProductPriceShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Product Type</legend>

    @Html.DisplayForModel()
</fieldset>

<p>
    <a asp-controller=@PlantDataMvcAppControllers.ProductPrice asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller=@PlantDataMvcAppControllers.PriceListType asp-action="Details" asp-route-id="@Model.PriceListTypeId">Back to Details</a>
</p>

