@model PlantDataMVC.UI.Models.ViewModels.Genus.GenusEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Update", "Genus"))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Genus</legend>

        @Html.EditorForModel()

        <p>
            <input type="submit" value="Update"/>
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

