@model PlantDataMVC.UICore.Models.ViewModels.PlantStock.PlantStockDetailsViewModel

@{
    ViewBag.Title = "Plant Stock";
}

<h2>Details</h2>

<fieldset>
    <legend>Plant Stock with Transactions </legend>

    @Html.DisplayForModel()

    <div class="display-label">
        <label asp-for="Transactions"></label>
    </div>
    <div class="button">
        <a asp-controller="Transaction" asp-action="New" asp-route-plantStockId="@Model.Id">New</a>
    </div>
    <div class="child-table">
        <partial name="TransactionListTable" for="Transactions" />
    </div>
</fieldset>
<p>
    <a asp-controller="PlantStock" asp-action="Index">Back to Index</a>
</p>

