@model ListViewModelStatic<PlantDataMVC.UICore.Models.ViewModels.PlantStock.PlantStockListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<partial name="Shared/PlantStockListTable.cshtml" for="@Model" />
@Html.PagingLinksFor(m => Model)