@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.ProductType.ProductTypeListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Product Types</h2>
<p>This is a list of all Product Types</p>

@await Component.InvokeAsync("ProductTypeGrid", new { model = Model, gridOptions = Model.GridOptions })
