/* Sorting UI */
a.sortAsc {
    padding-right: 16px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-up' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z'/> </svg>"); 
    background-position: right;
    background-repeat: no-repeat;
}

a.sortDesc {
    padding-right: 16px;
    background-image: url(/images/arrow_down.png);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-arrow-up' viewBox='0 0 16 16'> <path fill-rule='evenodd' d='M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z'/> </svg>");
    background-position: right;
    background-repeat: no-repeat;
}





/* Paging UI */
/*
td.pager {
    background-color: #eee;
}

td.pager div {
    font-size: smaller;
    font-weight: bold;
    padding: 5px;
}

a.pagerButton, a.pagerButton:visited
{
    border: solid 1px #eee;
    padding: 4px;
    text-decoration: none;
    color: #006;
    margin: 0px 2px 0px 2px;
}

a.pagerButton:hover
{
    border: solid 1px black;
    color: Black;
}

a.pagerButtonCurrentPage
{
    border: solid 1px #00a;
    padding: 4px;
    text-decoration: none;
    color: White;
    background-color: #006;
    margin: 0px 2px 0px 2px;
}

.pagerButtonDisabled
{
    border: none;
    color: #999;
    padding: 4px;
}
*/



/* Filtering Styles */
/*
.filtering {
    margin: 15px;
    padding: 0px 10px 10px 10px;
    background-color: #ffc;
}

.filtering legend {
    font-weight: bold;
    font-size: larger;
}
    */