@using PlantDataMVC.Web.ViewComponents.PdfViewer;
@using PlantDataMvc.Web.Models.ViewComponents.ViewModels;

@model PdfViewerViewModel
@{
    string _controlId = "pdf-js-viewer";
}
<div class="container-lg">
    <!-- This is the canvas that will contain the pdf -->
    <iframe id="@_controlId" src="pdf.js/web/viewer.html" style="width:@Model.Width; height:@Model.Height; overflow:hidden; position:relative;"></iframe>
</div>
<style>
    .e-grid .e-row .e-rowcell {
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>