@using PlantDataMVC.Web.ViewComponents.PdfViewer;
@using PlantDataMvc.Web.Models.ViewComponents.ViewModels;

@model PdfViewerViewModel

<div class="container-lg">
    <ejs-pdfviewer id="pdfviewer" style="height:@Model.Height" serviceUrl="/PdfViewer" documentPath="@Model.FileToView.DataBase64">
    </ejs-pdfviewer>
</div>
<style>
    .e-grid .e-row .e-rowcell {
        padding-top: 2px;
        padding-bottom: 2px;
    }
</style>