@model ListViewModelStatic<PlantDataMVC.UICore.Models.ViewModels.Site.SiteListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<partial name="Shared/SiteListTable.cshtml" for="@Model" />
@Html.PagingLinksFor(m => Model)