@{
    ViewBag.Title = "About Us";
}

<link rel="stylesheet" href="https://openlayers.org/en/v4.1.1/css/ol.css" type="text/css">

<script src="https://openlayers.org/en/v4.1.1/build/ol.js" type="text/javascript"></script>
<script src="~/Scripts/OpenMapsLibrary.js" type="text/javascript"></script>

<style>
    .map {
        height: 400px;
        width: 400px;
    }
</style>

<h2>About</h2>
<p>
    Put content here.
</p>

<!-- This is the div that will contain the map -->
<div id="map" class="map"></div>
<div id="popup"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts{

    <script type="text/javascript">

        // This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
        $(document).ready(function () {
            Initialise();
        });

        function Initialise() {
            var map = Mapping.createMap(document.getElementById('map'), -27.45, 153.03, 14);
            Mapping.addMarker('@Url.Content("~/Content/Images/place-marker.png")', map, -27.44, 153.025);
        };
    </script>
}
