@{
    ViewBag.Title = "About Us";
}

<!-- TODO: Remove and fix css for site using web tools -->
<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/css/ol.css">

<style>
    .map {
        height: 400px;
        width: 400px;
    }
</style>

<h2>About</h2>
<p>
    Put content here.
</p>

<!-- This is the div that will contain the map -->
<div id="map" class="map"></div>
<div id="popup"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts{

    <script type="text/javascript">

        var map = Mapping.createMap(document.getElementById('map'), -27.45, 153.03, 14);

        //// This code tells the browser to execute the "Initialize" method only when the complete document model has been loaded.
        //$(document).ready(function () {
        //    Initialise();
        //});

        //function Initialise() {
        //    var map = Mapping.createMap(document.getElementById('map'), -27.45, 153.03, 14);
        //    //Mapping.addMarker('@Url.Content("~/Content/Images/place-marker.png")', map, -27.44, 153.025);
        //};
    </script>
}
