@{
    ViewBag.Title = "About Us";
}

<style>
    .map {
        height: 400px;
        width: 400px;
    }
</style>

<h2>About</h2>
<p>
    Put content here.
</p>

<!-- This is the div that will contain the map -->
<div id="map" class="map"></div>
<div id="popup"></div>

<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            Initialise();
        });

        function Initialise() {
            var map = new ol.Map({
                target: document.getElementById('map'),
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([-27.45, 53.03]),
                    zoom: 4
                })
            });

            @*var map = Mapping.createMap(document.getElementById('map'), latitude, longitude, zoomLevel);
            Mapping.addMarker('@Url.Content("~/Content/Images/place-marker.png")', map, -27.44, 153.025);*@
        };
    </script>
}
