@model ListViewModel<PlantListViewModel>

@using Framework.Web.Mvc.Paging
@using PlantDataMVC.UI.Models

@{
    ViewBag.Title = "Index";
}

<h2>My Plant List</h2>
<p>This is my list of current plants.</p>

@Html.Partial("PlantListTable", Model)
@Html.PagingLinksFor(m => Model)