@model ListViewModelStatic<PlantDataMVC.UICore.Models.ViewModels.SeedTray.SeedTrayListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<partial name="Shared/SeedTrayListTable.cshtml" for="@Model" />
@Html.PagingLinksFor(m => Model)