@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.Plant.PlantListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>My Plant List</h2>
<p>This is a list of all plant descriptions</p>


@*
// TODO: Convert views to TagHelpers/use built-in taghelpers
*@
<vc:plant-grid model="@Model"></vc:plant-grid>
@Html.PagingLinksFor(m => Model)