@using PlantDataMVC.Web.Constants;
@model PlantDataMVC.Web.Models.ViewModels.Transaction.TransactionStockSummaryDetailsViewModel

@{
    ViewBag.Title = "Stock Summary Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Stock Summary with Transactions </legend>

    @Html.DisplayForModel()

    <div class="display-label">
        <label asp-for="Transactions"></label>
    </div>
    <div class="child-table">
        <vc:transaction-grid model="@Model.Transactions" species-id="@Model.SpeciesId" product-type-id="@Model.ProductTypeId"></vc:transaction-grid>
    </div>
</fieldset>
<p>
    <a asp-controller=@PlantDataMvcAppControllers.Transaction asp-action="StockSummaryVC">Back to Stock Summary</a>
</p>

