@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.Transaction.TransactionStockSummaryListViewModel>
@{
    ViewBag.Title = "Stock Summary";
}

<h2>Index</h2>

<vc:transaction-stock-summary-grid model="@Model"></vc:transaction-stock-summary-grid>
