@using PlantDataMVC.Web.Constants;
@model PlantDataMVC.Web.Models.ViewModels.Transaction.TransactionStockSummaryDetailsViewModel

@{
    ViewBag.Title = "Stock Summary Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Stock Summary with Transactions </legend>

    @Html.DisplayForModel()

    <div class="display-label">
        <label asp-for="Transactions"></label>
    </div>
    <div class="child-table">
        @await Component.InvokeAsync("TransactionGrid", new { transactions = Model.Transactions, speciesId = Model.SpeciesId, productTypeId = Model.ProductTypeId })
    </div>
</fieldset>
<p>
    <a asp-controller=@PlantDataMvcAppControllers.Transaction asp-action="StockSummary">Back to Stock Summary</a>
</p>

