@model ListViewModel<PlantSeedListViewModel>

@using PlantDataMvc3.UI.Helpers
@using PlantDataMvc3.UI.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("SeedListTable", Model)
@Html.PagingLinksFor(m => Model)