@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.SeedBatch.SeedBatchListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@await Component.InvokeAsync("SeedBatchGrid", new { model = Model, gridOptions = Model.GridOptions })
