
@model PlantDataMVC.Web.Models.ViewModels.SeedBatch.SeedBatchShowViewModel

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<fieldset>
    <legend>Seed Batch</legend>

    @Html.DisplayForModel()
    
    @*<div class="child-table">@Html.Partial("SeedTrayListTable", Model.SeedTrays)</div>
    <div class="button"><a asp-controller=@PlantDataMvcAppControllers.SeedTray asp-action="New" asp-route-id=@Model.Id>New</a></div>*@
</fieldset>

<p>
    <a asp-controller=@PlantDataMvcAppControllers.SeedBatch asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller=@PlantDataMvcAppControllers.SeedBatch asp-action="Index">Back to Index</a>
</p>

