@model PlantDataMVC.Web.Models.ViewModels.SaleEvent.SaleEventDetailsViewModel

@{
    ViewBag.Title = "Sale Event Stock";
}

<h2>Details</h2>

<fieldset>
    <legend>Sale Event Stock </legend>

    @Html.DisplayForModel()

    <div class="display-label">
        <label asp-for="SaleEventStocks"></label>
    </div>
    <div class="child-table">
        @await Component.InvokeAsync("SaleEventStockGrid", new { saleEventStocks = Model.SaleEventStocks, gridOptions = Model.GridOptions, saleEventId = Model.Id })
    </div>
</fieldset>
<p>
    <a asp-controller=@PlantDataMvcAppControllers.SaleEvent asp-action="Index">Back to Index</a>
</p>

