@model ListViewModelStatic<PlantDataMVC.Web.Models.ViewModels.SaleEvent.SaleEventListViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<vc:sale-event-grid model="@Model"></vc:sale-event-grid>
